.editor {
  width: 100%;
  padding-inline: 1rem;
  border: solid #eee 0.1px;
}

.editor .editor-pane {
  display: flex;
  justify-content: flex-start;
  width: max-content;
  padding-block: .5rem;
}

.editor .deletebutton {
  position: absolute;
  right: 0;
  padding: .2rem;
  border: none;
  cursor: pointer;
  margin-top: -1rem;
}

.editor .editor-pane div {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
}

.editor .editor-pane > div > div > span {
  padding: 10px 18px;
  transition: 0.3s;
}

.editor .editor-pane > div > div:hover span {
  background-color: #eee;
}

.editor .editor-pane > div * {
  cursor: pointer;
}

.output {
  position: relative;
  padding-top: 5vh;
  width: 100%;
  min-height: 20vh;
  max-height: 80vh;
  border-top: solid #eee 0.1px;
}
